# /etc/systemd/system/myapp.service
[Unit]
Description=Image-Search Docker Compose Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ws2356/dev/image-search/dt_image_search/deploy
ExecStart=docker compose up
ExecStop=docker compose down
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
