.venv_python3
*.venv
.venv*
*_ui.py
__pycache__
/build
/dist
/mobile/ios/build/
/mobile/ios/fastlane/Preview.html
/mobile/ios/fastlane/report.xml
/mobile/ios/fastlane/test_output/
/mobile/instant-share/build/
/mobile/instant-share/fastlane/Preview.html
/mobile/instant-share/fastlane/report.xml
/mobile/instant-share/fastlane/test_output/
MagicMock/
/DTImageSearchApp
/*.msix
node_modules
/dt_image_search/deploy/otel/grafana/.env
.DS_Store
xcuserdata/
obj/
.build/
pyinstaller-dist*/
.env.credential
