-e ./dt_image_search/third-party/open_clip-2.26.1
faiss-cpu == 1.9.0
torch == 2.2.2
torchvision == 0.17.2
pillow == 11.2.1
qrcode == 8.2
tqdm == 4.67.1
numpy == 1.26.4
pyside6 == 6.9.0
opentelemetry-sdk == 1.35.0
opentelemetry-exporter-otlp == 1.35.0
opentelemetry-instrumentation == 0.56b0
opentelemetry-api == 1.35.0
opentelemetry-exporter-otlp-proto-http == 1.35.0
requests >= 2.32.4, < 3.0.0
psutil >= 7.0.0, < 8.0.0
-e ./dt_image_search/third-party/huggingface_hub-0.36.0
hf-xet == 1.1.10
watchdog == 6.0.0
transformers >= 4.57.1, < 5.0.0
